html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
.logo{
 width: 300px;
}
.contact{
  display: flex; 
  align-items:center;
  gap: 10px;
  margin-bottom:3px
}
@media (max-width: 768px) {
  .logo {
    width: 100%;  /* mobile वर full width */
  }
  .contact{
  gap: 5px;
  margin-bottom:2px;
  font-size: 12px;
}
}