body {
  font-family: 'Noto Sans Devanagari', 'Roboto', sans-serif;
}
/* SliderStyles.css */

.slider-image {
  width: 100%;             /* Full width */
  height: auto;            /* Keeps aspect ratio */
  object-fit: contain;     /* No crop, fits inside */
        /* Limit height if needed */
}


/* Apply zoom effect only on the active slide */
.slick-slide.slick-active .slider-image {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.heading {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;            /* गडद निळसर रंग */
  text-align: center;        /* मध्यभागी */
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.heading::after {
  content: "";
  display: block;
  width: 80px;               /* रेषेची लांबी */
  height: 4px;               /* जाडी */
  background: linear-gradient(90deg, #00c6ff, #0072ff); /* आकर्षक ग्रेडिएंट */
  margin: 8px auto 0;        /* केंद्रात ठेवण्यासाठी */
  border-radius: 2px;
}
